html,
body {
  font-family: "Inter", sans-serif;
}
@media (min-width: 300px) and (max-width: 600px) {
  .heading1 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 1.25em;
  }
  .box {
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
    border-radius: 5%;
  }
  .heading2 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #4a4a4a;
  }
  .headingh2 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .text_h5 {
    font-size: 25px;
    color: #4a4a4a;
    line-height: 30px;
  }
  .text_h55 {
    font-size: 25px;
    color: #4a4a4a;
    line-height: 30px;
    text-align: center;
  }
  .reading_h2 {
    font-size: 30px;
    line-height: 35px;
    color: #4a4a4a;
  }
  .relate_h2 {
    font-size: 34px;
    font-weight: 700;
  }
  .text_h3 {
    font-size: 20px;
    font-style: italic;
  }
  .b_rimary {
    background-color: #385173;
  }
 
  .but_text {
    font-size: 35px;
    font-weight: 700;
    color: #4a4a4a;
  }
  .crtical_text {
    font-size: 20px;
    color: #182433;
    line-height: 2em;
  }
  .heading3 {
    font-size: 40px;
    color: #182433;
    font-weight: 700;
    margin-top: 1em;
  }
  .each {
    background-color: rgba(60, 72, 84, 0.05);
    border-radius: 5%;
  }
  .text_3 {
    font-size: 20px;
    color: #182433;
    font-weight: 600;
    line-height: 1.5em;
  }
  .texxt_h6 {
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
  }
  .decide_text {
    font-size: 25px;
    line-height: 30px;
    color: #4a4a4a;
  }
  .text_4 {
    font-size: 25px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .boder_div {
    border: none;
  }
  .box {
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
    border-radius: 5%;
  }
  .underline {
    border: 3px solid;
    border-color: #1b68e9;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .access_span {
    font-size: 25px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
    text-align: center;

  }
  .access_span a {
    color: #1b68e9;
    text-decoration: none;
    text-align: center;
  }
  .apply_div {
    border: none;
  }
  .apply_divt {
    border:none;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .heading1 {
    font-size: 52px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }
  .heading2 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #4a4a4a;
  }
  .headingh2 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .text_h5 {
    font-size: 25px;
    color: #4a4a4a;
    line-height: 30px;
  }
  .reading_h2 {
    font-size: 30px;
    line-height: 35px;
    color: #4a4a4a;
  }
  .relate_h2 {
    font-size: 34px;
    font-weight: 700;
  }
  .text_h3 {
    font-size: 20px;
    font-style: italic;
  }
  .apply_divt {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #e9f3ff;

  }
  .apply_div {
    border-bottom: none;
    border-left: 2px solid;
    border-color: #e9f3ff;
  }
  .b_rimary {
    background-color: #385173;
  }
  .but_text {
    font-size: 35px;
    font-weight: 700;
    color: #4a4a4a;
  }
  .crtical_text {
    font-size: 20px;
    color: #182433;
    line-height: 2em;
  }
  .heading3 {
    font-size: 40px;
    color: #182433;
    font-weight: 700;
  }
  .each {
    background-color: rgba(60, 72, 84, 0.05);
    border-radius: 5%;
    width: 90%;
    margin: auto;
  }
  .text_3 {
    font-size: 20px;
    color: #182433;
    font-weight: 600;
    line-height: 1.5em;
  }
  .texxt_h6 {
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
  }
  .decide_text {
    font-size: 25px;
    line-height: 30px;
    color: #4a4a4a;
  }
  .text_4 {
    font-size: 25px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .boder_div {
    border-right: 2px solid;
    border-color: hsla(0, 0%, 60.8%, 0.2);
  }
  .box {
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
    border-radius: 5%;
  }
  .underline {
    border: 3px solid;
    border-color: #1b68e9;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .access_span {
    font-size: 25px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
    text-align: center;

  }
  .access_span a {
    color: #1b68e9;
    text-decoration: none;
  }
}
@media (min-width: 1024px) {
  .heading1 {
    font-size: 52px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }
  .heading2 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #4a4a4a;
  }
  .headingh2 {
    font-size: 30px;
    letter-spacing: 0px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .text_h5 {
    font-size: 25px;
    color: #4a4a4a;
    line-height: 30px;
  }
  .reading_h2 {
    font-size: 30px;
    line-height: 35px;
    color: #4a4a4a;
  }
  .relate_h2 {
    font-size: 34px;
    font-weight: 700;
  }
  .text_h3 {
    font-size: 20px;
    font-style: italic;
  }
  .b_rimary {
    background-color: #385173;
  }
  .but_text {
    font-size: 35px;
    font-weight: 700;
    color: #4a4a4a;
  }
  .crtical_text {
    font-size: 20px;
    color: #182433;
    line-height: 2em;
  }
  .heading3 {
    font-size: 40px;
    color: #182433;
    font-weight: 700;
  }
  .apply_divt {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #e9f3ff;

  }
  .apply_div {
    border-bottom: none;
    border-left: 2px solid;
    border-color: #e9f3ff;
  }
  .each {
    background-color: rgba(60, 72, 84, 0.05);
    border-radius: 5%;
  }
  .text_3 {
    font-size: 20px;
    color: #182433;
    font-weight: 600;
    line-height: 1.5em;
  }
  .texxt_h6 {
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
  }
  .decide_text {
    font-size: 25px;
    line-height: 30px;
    color: #4a4a4a;
  }
  .text_4 {
    font-size: 25px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .box {
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
    border-radius: 5%;
  }
  .boder_div {
    border-right: 2px solid;
    border-color: hsla(0, 0%, 60.8%, 0.2);
  }
  .underline {
    border: 3px solid;
    border-color: #1b68e9;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .access_span {
    font-size: 25px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
    text-align: center;

  }
  .access_span a {
    color: #1b68e9;
    text-decoration: none;
  }
}
